<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Welcome
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="ion-padding">
        <!-- <div padding> -->
        <h2>Login</h2>
        <ion-list>
            <ion-item>
                <!-- <ion-input type="text" placeholder="Username"></ion-input> -->
                <ion-input type="text" placeholder="Username" [(ngModel)]="username" name="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="password" placeholder="Password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-checkbox checked="true" color="dark"></ion-checkbox>
                <ion-label>&nbsp;Remain Logged In</ion-label>
            </ion-item>
        </ion-list>
{{ username }}

        <ion-button (click)="login()" size="large" color="success" shape="round">
            Login <ion-icon name="exit-outline"></ion-icon>
        </ion-button>

        <ion-item>{{ loginCount }} Login Attempts</ion-item>

    </div>

</ion-content>
