<ion-header>
    <ion-toolbar>
        <ion-title>account</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content padding>
        <ion-list>
            <ion-item>
                <ion-thumbnail>
                    <img src="/assets/character-sexy-cop.svg" alt="">
                </ion-thumbnail>
                <ion-label>Candy McLean</ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail>
                    <img src="/assets/character-mobster.svg" alt="">
                </ion-thumbnail>
                <ion-label>Franko The Mouth</ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail>
                    <img src="/assets/character-pirate.svg" alt="">
                </ion-thumbnail>
                <ion-label>Paul McDoogle</ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail>
                    <img src="/assets/character-napoleon.svg" alt="">
                </ion-thumbnail>
                <ion-label>Napoleon Smith</ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-content>
